html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background: #ffffff url("../img/geometry2.png");
  /* Background pattern from Subtle Patterns */
  font-family: 'Coda', cursive; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 0px; }

svg {
  position: absolute;
  top: 0; }

.zi-1 {
  position: relative;
  z-index: 1;
  cursor: pointer; }

/*
 * Styles for the leader board
 */
#leader-board {
  letter-spacing: 2px;
  padding: 0.6em 1.2em;
  text-align: center;
  margin: 0px; }

#leader-board button, .score-modal-title {
  border-radius: 0.5em;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 0.6em 1.2em;
  text-transform: uppercase;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%); }

#score-modal form table {
  margin: 0 auto 0 auto; }

#score-modal form table thead td {
  text-align: left; }

#score-modal form table tbody td input {
  border: none;
  background: transparent;
  width: 2em; }

#score-modal form table tbody td input[name='name'] {
  width: 8em; }

/*
 * Styles for the deck of cards
 */
.deck {
  width: 42vw;
  min-height: 42vw;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 2em;
  border-radius: 10px;
  -webkit-box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
          box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 3em; }

.deck .card {
  height: 8vw;
  width: 8vw;
  z-index: 1;
  background: #2e3d49;
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
          box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5); }

.deck .card.open {
  -webkit-animation: rotate 0.4s ease-in-out forwards;
          animation: rotate 0.4s ease-in-out forwards;
  background: #02b3e4;
  cursor: default; }

.deck .card.show {
  font-size: 33px; }

.deck .card.match {
  cursor: default;
  background: #02ccba;
  font-size: 33px;
  -webkit-animation: pop-out 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
          animation: pop-out 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards; }

.deck .card.mismatch {
  -webkit-animation: shake 0.4s ease forwards;
          animation: shake 0.4s ease forwards; }

@media screen and (max-width: 25em) {
  .deck {
    width: 70vw;
    min-height: 45vh;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 1em;
    border-radius: 10px;
    -webkit-box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
            box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 3em; }
  .deck .card {
    height: 14vw;
    width: 14vw;
    border-radius: 8px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
            box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5); }
  .deck .card.show {
    font-size: 1.2em; }
  .deck .card.match {
    font-size: 1.2em; } }

@media screen and (min-width: 25em) and (max-width: 50em) {
  .deck {
    width: 60vw;
    min-height: 60vw;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 1em;
    border-radius: 10px;
    -webkit-box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
            box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 3em; }
  .deck .card {
    height: 12vw;
    width: 12vw;
    border-radius: 8px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
            box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5); }
  .deck .card.show {
    font-size: 1.2em; }
  .deck .card.match {
    font-size: 1.2em; } }

/*
 * Styles for the Score Panel
 */
.score-panel {
  background: white;
  text-align: left;
  width: 40vw;
  margin-bottom: 10px;
  padding: 0 10px;
  border-radius: 8px; }

.score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0; }

.score-panel .stars li {
  list-style: none;
  display: inline-block; }

.score-panel .time {
  margin: 0 0 0 25px; }

.score-panel .restart {
  float: right;
  cursor: pointer; }

@media screen and (min-width: 25em) and (max-width: 50em) {
  .score-panel {
    text-align: left;
    width: 55vw;
    margin-bottom: 10px; }
  .score-panel .time {
    margin: 0 0 0 1em; } }

@media screen and (max-width: 25em) {
  .score-panel {
    width: 65vw; }
  .score-panel .time {
    margin: 0 0 0 0.5em; } }

.hidden {
  display: none; }

/*
 * Styles for the Control Panel
 */
.control-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: white;
  width: 40vw;
  margin-bottom: 10px;
  padding: 0 10px;
  border-radius: 8px;
  font-size: 2rem; }

.control-panel .pause-play {
  width: calc((100% -2rem)/ 4);
  text-align: left; }

.control-panel .music {
  width: calc((100% -2rem)/ 4);
  text-align: center; }

.control-panel .music {
  width: calc((100% -2rem)/ 4);
  text-align: center; }

.control-panel .help {
  float: right;
  width: calc((100% -2rem)/ 4);
  text-align: right; }

@media screen and (min-width: 25em) and (max-width: 50em) {
  .control-panel {
    text-align: left;
    width: 55vw;
    margin-bottom: 10px; } }

@media screen and (max-width: 25em) {
  .control-panel {
    width: 65vw; } }

/* The Modal (background) */
.modal {
  position: fixed;
  /* Stay in place */
  z-index: 9999;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content/Box */
.modal-content {
  text-align: center;
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 0.5em; }

.modal button {
  letter-spacing: 2px;
  padding: 0.6em 1.2em;
  border-radius: 0.5em;
  margin-top: 1.2em;
  background: #02ccba; }

#winning-modal .modal-content .trophy {
  font-size: 33px; }

#winning-modal .modal-content p {
  font-weight: lighter; }

#winning-modal .modal-content #replay {
  background: #02ccba; }

#save-score-modal .modal {
  z-index: 99999; }

#save-score-modal .modal-content {
  margin: 25% auto; }

#save-score-modal .modal-content input {
  padding: 0.6em 1.2em;
  margin-top: 2em;
  text-align: center; }

#score-modal .score-modal-title {
  margin: 2em 0px 1em;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 0.6em 1em;
  text-transform: uppercase;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%); }

#score-modal form table {
  margin: 0 auto 0 auto; }

#score-modal form table thead td {
  text-align: left; }

#score-modal form table tbody td input {
  border: none;
  background: transparent;
  width: 2em; }

#score-modal form table tbody td input[name='name'] {
  width: 8em; }

#info-modal .info-modal-body {
  margin: 10px auto;
  width: 70%; }

@media screen and (max-width: 25em) {
  .modal-content {
    width: 95%; } }

@media screen and (min-width: 25em) and (max-width: 50em) {
  .modal-content {
    width: 76%; } }

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 2rem;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

/*
 * Animation for mismatch cards
 */
@-webkit-keyframes shake {
  0% {
    -webkit-transform: skewX(15deg);
            transform: skewX(15deg); }
  25% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg); }
  50% {
    -webkit-transform: skewX(-15deg);
            transform: skewX(-15deg); }
  75% {
    -webkit-transform: skewX(15deg);
            transform: skewX(15deg); }
  100% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg); } }
@keyframes shake {
  0% {
    -webkit-transform: skewX(15deg);
            transform: skewX(15deg); }
  25% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg); }
  50% {
    -webkit-transform: skewX(-15deg);
            transform: skewX(-15deg); }
  75% {
    -webkit-transform: skewX(15deg);
            transform: skewX(15deg); }
  100% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg); } }

/*
 * Animation for matching cards
 */
@-webkit-keyframes pop-out {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2); }
  25% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  75% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
@keyframes pop-out {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2); }
  25% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  75% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

/*
 * Animation for show card
 */
@-webkit-keyframes rotate {
  to {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform: rotateY(180deg) scaleX(-1);
            transform: rotateY(180deg) scaleX(-1); } }
@keyframes rotate {
  to {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform: rotateY(180deg) scaleX(-1);
            transform: rotateY(180deg) scaleX(-1); } }
