html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom : 0px;
}

/*
 * Styles for the leader board
 */
#leader-board {
    letter-spacing: 2px;
    padding: 0.6em 1.2em;
    text-align: center;
    margin : 0px;
}

#leader-board button{
    font-weight: bold;
    letter-spacing: 2px;
    padding: 0.6em 1.2em;
    text-transform: uppercase;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
}

#score-modal form table {
    margin: 0 auto 0 auto;
}

#score-modal form table thead td {
    text-align: left;
}

#score-modal form table tbody td input {
    border: none;
    background: transparent;
    width: 2em;
}

#score-modal form table tbody td input[name='name'] {
    width: 8em;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 42vw;
    min-height: 42vw;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 2em;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 8vw;
    width: 8vw;
    z-index: 1;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    animation: rotate 0.4s ease-in-out forwards;
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    animation: pop-out 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

.deck .card.mismatch {
    animation: shake 0.4s ease forwards;
}

@media screen and (max-width: 25em){
    .deck {
        width: 70vw;
        min-height: 45vh;
        background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
        padding: 1em;
        border-radius: 10px;
        box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 3em;
    }

    .deck .card {
        height: 14vw;
        width: 14vw;
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    }

    .deck .card.show {
        font-size: 1.2em;
    }

    .deck .card.match {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 25em) and (max-width: 50em){
    .deck {
        width: 60vw;
        min-height: 60vw;
        background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
        padding: 1em;
        border-radius: 10px;
        box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 3em;
    }

    .deck .card {
        height: 12vw;
        width: 12vw;
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    }

    .deck .card.show {
        font-size: 1.2em;
    }

    .deck .card.match {
        font-size: 1.2em;
    }
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 40vw;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .time {
    margin: 0 0 0 25px ;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

@media screen and (min-width: 25em) and (max-width: 50em){
    .score-panel {
        text-align: left;
        width: 55vw;
        margin-bottom: 10px;
    }
    .score-panel .time {
        margin: 0 0 0 1em ;
    }
}

@media screen and (max-width: 25em) {
    .score-panel {
        width: 65vw;
    }
    .score-panel .time {
        margin: 0 0 0 0.5em ;
    }
}

.hidden{
    display: none;
}

/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    text-align: center;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    border-radius: 0.5em;
}

.modal button {
    letter-spacing: 2px;
    padding: 0.6em 1.2em;
    border-radius: 0.5em;
    margin-top: 1.2em;
    background: #02ccba;
}

#winning-modal .modal-content .trophy {
    font-size: 33px;
}

#winning-modal .modal-content p {
    font-weight: lighter;
}

#winning-modal .modal-content #replay {
    background: #02ccba;
}

#save-score-modal .modal {
    z-index: 99999;
}

#save-score-modal .modal-content {
    margin: 25% auto;
}

#save-score-modal .modal-content input {
    padding: 0.6em 1.2em;
    margin-top: 2em;
    text-align: center;
}

#save-score-modal .modal-content .saveGame button {
}

@media screen and (max-width: 50em){
    .modal-content {
        width: 90%;
    }
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*
 * Animation for mismatch cards
 */
@keyframes shake {
    0%   {transform: skewX(15deg)}
    25%  {transform: skewX(0deg)}
    50%  {transform: skewX(-15deg)}
    75%  {transform: skewX(15deg)}
    100% {transform: skewX(0deg)}
}

/*
 * Animation for matching cards
 */
@keyframes pop-out {
    0%   {transform: scale(0.2)}
    25%  {transform: scale(1.15)}
    50%  {transform: scale(1.0)}
    75%  {transform: scale(1.08)}
    100% {transform: scale(1.0)}
}

/*
 * Animation for show card
 */
@keyframes rotate {
    to{
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    }
}
